/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
/* MAIN */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* HEADER */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1440px;
    height: 84px;
    background-color: #F5F7FA;
}

ul {
    display: flex;
    width: 1440px;
    height: 84px;
    flex-shrink: 0;
    gap: 25px;
}

ul li {
    color: #111;
}

ul li a {
    gap: 25px;
    text-decoration: none;
}